* {
    margin: 0;
    padding: 0;
}

body{
    background: #282828
}

.row1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
}

.stepbutton{
    display: flex;  /* */
    justify-content: center;    /* */
    align-items: center;    /* */
    margin: 10px;   /* */
    flex: 1 0 calc(10px); /* 33% wide to fit 3 on each line. then extra 20px for slightly smaller to fit margins*/
    background: radial-gradient(#ffd9e4, #ffa1bb);  /* radial gradient for each pad */
    /* border-radius: 4px;     adds round border */
}